@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #d63854; /* keep one final primary color */
}


* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}


@keyframes slideDown {
  from { opacity: 0; transform: translateY(-15px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideDown {
  animation: slideDown 0.5s ease forwards;
}


@keyframes slideUp {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideUp {
  animation: slideUp 0.8s ease-in-out forwards;
}


@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
  will-change: transform;
}
.marquee:hover {
  animation-play-state: paused; 
}


